<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../bootstrap-replica.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h2>Orders List</h2>
    <a href="/admin"><img src="../../img/logo.png"></a>
</div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card-graph card-chart">
            <div class="card-header">
                <!--<h5 class="card-category">Global Sales</h5>-->
                <h2 class="card-title">Monthly Statistic Order</h2>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="orderOverall"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card-graph expand card-chart">
            <div class="card-header">
                <h2 class="card-title">Total Order</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">This Month</h3>
                        <h1 class="card-title">[[${data.totalOrderInMonth}]]</h1>
                    </div>
                    <div class="col-6">
                        <h3 class="card-title">Last Month</h3>
                        <h1 class="card-title">[[${data.totalOrderLastMonth}]]</h1>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                </div>
            </div>
        </div>

    </div>
</div>

<form action="list" method="GET" class="list-search" autocomplete="off">
    <input type="text" id="referenceId" name="referenceId" placeholder="Reference" th:value="${referenceId}">
    <input type="submit" value="Search" class="submit">
</form>

<div class="content">
    <table id="listOrder">
        <thead>
        <tr>
            <th scope="col">ReferenceId</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${list}">
            <td th:text="${o.referenceId}"></td>
            <td th:text="${o.status}" class="tcenter"></td>
            <td class="tcenter"><a th:href="'/admin/order/edit/'+${o.id}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<!--   Core JS Files   -->
<script src="../../assets/js/core/jquery.min.js"></script>
<!-- Chart JS -->
<script src="../../assets/js/plugins/chartjs.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {

        var dataList = [];
        var dataCount = [];
        var dataDate = [];
        dataList = [[${data.list}]];
        for (var i = 0; i< dataList.length; i++) {
            dataCount.push(dataList[i].count);
            dataDate.push(dataList[i].month);
        }
        // refactor this shit!
        var chartColor = "#FFFFFF";

        // General configuration for the charts with Line gradientStroke
        gradientChartOptionsConfigurationWithNumbersAndGrid = {
            maintainAspectRatio: false,
            legend: {
                display: false
            },
            tooltips: {
                bodySpacing: 4,
                mode: "nearest",
                intersect: 0,
                position: "nearest",
                xPadding: 10,
                yPadding: 10,
                caretPadding: 10
            },
            responsive: true,
            scales: {
                yAxes: [{
                gridLines: 0,
                gridLines: {
                    zeroLineColor: "transparent",
                    drawBorder: false
                }
                }],
                xAxes: [{
                display: 0,
                gridLines: 0,
                ticks: {
                    display: false
                },
                gridLines: {
                    zeroLineColor: "transparent",
                    drawTicks: false,
                    display: false,
                    drawBorder: false
                }
                }]
            },
            layout: {
                padding: {
                left: 0,
                right: 0,
                top: 15,
                bottom: 15
                }
            }
        };

        // Javascript method's body can be found in assets/js/demos.js
        var ctx = document.getElementById('orderOverall').getContext("2d");

        var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
        gradientStroke.addColorStop(0, '#80b6f4');
        gradientStroke.addColorStop(1, chartColor);

        var gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
        gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
        gradientFill.addColorStop(1, "rgba(24, 206, 15, 0.4)");


        var myChart = new Chart(ctx, {
            type: 'line',
            responsive: true,
            data: {
                labels: dataDate,
                datasets: [{
                label: "Order Count",
                borderColor: "#18ce0f",
                pointBorderColor: "#FFF",
                pointBackgroundColor: "#18ce0f",
                pointBorderWidth: 2,
                pointHoverRadius: 4,
                pointHoverBorderWidth: 1,
                pointRadius: 4,
                fill: true,
                backgroundColor: gradientFill,
                borderWidth: 2,
                data: dataCount
                }]
            },
            options: gradientChartOptionsConfigurationWithNumbersAndGrid
        });
    });

</script>
</html>