<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h1><a href="/admin/order/list" style="color: black;">Order</a></h1>
    <a href="/admin"><img src="../../../img/logo.png"></a>
</div>
<div class="content">

    <h2>Info</h2>

    <p>Reference</p>
    <text th:utext="${order.referenceId}"/>

    <p>Date Created</p>
    <text th:utext="${order.dateCreated}"/>

    <p>Status</p>
    <text th:utext="${order.status}"/>

    <h2>User</h2>
    <a th:href="'/admin/user/edit/'+${order.userId}"><h3>User [[${order.userId}]]</h3></a>

</div>

<div class="content" th:if="${order.status.toString().toLowerCase() == 'confirm' || order.status.toString().toLowerCase() == 'cancelled'}" sec:authorize="hasAuthority('ORDER_UPDATE')">
    <h2>Command</h2>
    <br>
    <form th:action="${order.id} + '/command'" th:if="${order.status.toString().toLowerCase() == 'confirm'}"
          method="POST" autocomplete="off" id="cancelOrder" class="common-form">
        <input type="hidden" value="cancel" name="command">
        <input type="submit" class="submit danger" value="Cancel">
    </form>
    <form th:action="${order.id} + '/command'" th:if="${order.status.toString().toLowerCase() == 'cancelled'}"
          method="POST" autocomplete="off" id="reorder" class="common-form">
        <input type="hidden" value="reorder" name="command">
        <input type="submit" class="submit success" value="Reorder">
    </form>
</div>

<div class="content" th:if="${!order.invoices.isEmpty()}">
    <table id="listInvoice">
        <h2>Invoices</h2>
        <thead>
        <tr>
            <th scope="col">ReferenceId</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${order.invoices}">
            <td th:text="${o.referenceId}"></td>
            <td th:text="${o.amount}"></td>
            <td th:text="${o.status}"></td>
            <td class="tcenter"><a th:href="'/admin/invoice/edit/' + ${o.id} + '?orderId=' + ${order.id}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>