<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../bootstrap-replica.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h2>Report List</h2>
    <a href="/admin"><img src="../../img/logo.png"></a>
</div>

<div class="card-graph card-chart">
    <div class="card-header">
        <!--<h5 class="card-category">Global Sales</h5>-->
        <h2 class="card-title">Report Stats</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h3 class="card-title">Total Report Last Month</h3>
                <h1 class="card-title">[[${data.totalLastMonthReport}]]</h1>
            </div>
            <div class="col-6">
                <h3 class="card-title">Report Not Resolve</h3>
                <h1 class="card-title">[[${data.totalUnresolveReport}]]</h1>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="stats">
        </div>
    </div>
</div>

<form action="list" method="GET" class="list-search" autocomplete="off">
    <input th:if="${!filter}" type="hidden" name="filter" value="true">
    <input th:if="${!filter}" type="submit" value="Not Resolve Only" class="submit">
    <input th:if="${filter}" type="submit" value="All" class="submit">
</form>

<div class="content">
    <table id="listReport">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">ReferenceId</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${list}">
            <td th:text="${o.title}"></td>
            <td th:text="${o.referenceId}"></td>
            <td th:if="${o.resolve != null && o.resolve}" class="tcenter">Resolve</td>
            <td th:if="${o.resolve == null || !o.resolve}" class="tcenter">Not Resolve</td>
            <td class="tcenter"><a th:href="'/admin/activity/edit/'+${o.id}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>