<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../../bootstrap-replica.css">
    <link rel="stylesheet" href="../../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h1><a href="/admin/activity/list" style="color: black;">Report</a></h1>
    <a href="/admin"><img src="../../../img/logo.png"></a>
</div>
<div class="content">
    <h2>Title</h2>
    <p th:text="${activity.title}"></p>

    <h2>User</h2>
    <a th:href="'/admin/user/edit/'+${activity.userId}"><h3>User [[${activity.userId}]]</h3></a>
</div>
<div class="content">
    <h2>ReferenceId</h2>
    <p th:text="${activity.referenceId}"></p>
    <p>Content</p>
    <p th:text="${activity.content}"></p>
    <p>Status</p>
    <p th:if="${activity.resolve != null && activity.resolve}">Resolve</p>
    <p th:if="${activity.resolve == null || !activity.resolve}">Not Resolve</p>
    <form th:if="${activity.resolve == null || !activity.resolve}" th:action="${activity.id} + '/resolve'" method="POST"
          autocomplete="off" id="resolve">
        <div class="common-form" sec:authorize="hasAuthority('ACTIVITY_UPDATE')">
            <input type="submit" class="submit danger" value="Resolve">
        </div>
    </form>
</div>

<div class="content" sec:authorize="hasAuthority('ACTIVITY_UPDATE')">
    <h2>Reply</h2>
    <form th:action="${activity.id} + '/response'" method="POST" autocomplete="off" id="response">
        <input type="hidden" id="responseTitle" name="title" th:value="'Re:' + ${activity.title}">
        <input type="hidden" id="responseCustomId" name="customId" th:value="${activity.id}">
        <input type="hidden" id="responseUserId" name="userId" th:value="${activity.userId}">
        <textarea name="content" id="responseContent" form="response" class="customtextarea" required></textarea>
        <br>
        <input type="submit" value="Send" class="customButton">
    </form>
</div>

<div class="content" th:if=" ${previous.size() > 0}">
    <h2>History</h2>
    <table id="listUser">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${previous}">
            <td th:text="${o.title}"></td>
            <td th:text="${o.content}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>