<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../bootstrap-replica.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h2>Admins List</h2>
    <a href="/admin"><img src="../../img/logo.png"></a>
</div>
<!--temporary-->
<div class="card-graph card-chart">
    <div class="card-header">
        <h2 class="card-title">Menu</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6" sec:authorize="hasAuthority('ADMIN_CREATE')">
                <h3 class="card-title">Create Admin</h3>
                <br>
                <form th:action="add" method="GET" autocomplete="off" id="create">
                    <input type="submit" class="customButtonV2" value="Create">
                </form>
            </div>
            <div class="col-6">
                <h3 class="card-title">View Role</h3>
                <br>
                <form th:action="rolesupdate" method="GET" autocomplete="off" id="adminRoleUpdate">
                    <input type="submit" class="customButtonV2" value="View">
                </form>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-6" sec:authorize="hasAuthority('ADMIN_CREATE')">
                <h3 class="card-title">Create Role</h3>
                <br>
                <form th:action="createRole" method="GET" autocomplete="off" id="createRole">
                    <input type="submit" class="customButtonV2" value="Create">
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="stats">
        </div>
    </div>
</div>

<div class="content">
    <table id="listAdmin">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${list}">
            <td th:text="${o.username}"></td>
            <td th:text="${o.status}" class="tcenter"></td>
            <td class="tcenter"><a th:href="'/admin/admin/edit/'+${o.id}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>