<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h1><a href="/admin/admin/list" style="color: black;">Admin</a></h1>
    <a href="/admin"><img src="../../../img/logo.png"></a>
</div>

<div class="content">
    <form th:action="'profile/' + ${admin.id}" method="POST" class="common-form" autocomplete="off" id="adminUpdate">

        <p>Username</p>
        <input type="text" id="username" name="username" th:value="${admin.username}"
               th:readonly="${admin.status.toString() == 'INACTIVE'}" sec:authorize="hasAuthority('ADMIN_UPDATE')" required>

        <input type="text" id="username_2" name="username" th:value="${admin.username}" readonly sec:authorize="!hasAuthority('ADMIN_UPDATE')">

        <input type="submit" class="submit" value="Update" th:if="${admin.status.toString() == 'ACTIVE'}" sec:authorize="hasAuthority('ADMIN_UPDATE')" required>

    </form>
    <form th:if="${admin.status.toString() == 'ACTIVE' && admin.id != 1}" th:action="${admin.id} + '/revoke'" method="POST"
          class="common-form" autocomplete="off" id="revokeAdmin" sec:authorize="hasAuthority('ADMIN_UPDATE')">
        <input type="submit" class="submit danger" value="Revoke">
    </form>

    <form th:if="${admin.status.toString() == 'INACTIVE' && admin.id != 1}" th:action="${admin.id} + '/reactivate'" method="POST"
          class="common-form" autocomplete="off" id="reactivateAdmin" sec:authorize="hasAuthority('ADMIN_UPDATE')">
        <input type="submit" class="submit success" value="Reactivate">
    </form>
</div>

<div class="content">
    <form th:action="${admin.id} + '/role/remove'" method="POST" id="removeRole">
        <table id="listAdmin">
            <thead>
            <tr>
                <th scope="col">Roles</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="o : ${admin.roles}">
                <td th:text="${o.name}"></td>
                <td class="tcenter">
                    <button name="roleId" th:value="${o.id}" type="submit" class="customButton-danger" sec:authorize="hasAuthority('ADMIN_UPDATE')"
                            th:if="${admin.status.toString() == 'ACTIVE' && admin.id != 1}">Revoke</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <form th:action="${admin.id} + '/role/add'" method="POST" class="common-form" autocomplete="off" id="addRoles" sec:authorize="hasAuthority('ADMIN_UPDATE')"
          th:if="${admin.status.toString() == 'ACTIVE'}">
        <select name="roleId" id="roles" required>
            <option disabled selected value></option>
            <option th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:text="${role.name}"></option>
        </select>
        <input type="submit" class="submit success" value="Add">
    </form>
</div>

</body>
</html>