<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <!--<h1><a href="/admin/invoice/list" style="color: black;">Invoice</a></h1>-->
    <h1>Invoice</h1>
    <a href="/admin"><img src="../../../img/logo.png"></a>
</div>
<div class="content">
    <h2>Info</h2>

    <p>Reference</p>
    <text th:utext="${invoice.referenceId}"/>

    <p>Amount</p>
    <text th:utext="${invoice.amount}"/>

    <p>Status</p>
    <text th:utext="${invoice.status}"/>

    <br>
    <form th:action="'refund/' + ${invoice.id}" method="POST" autocomplete="off" id="productStatusUpdate"
          class="common-form" sec:authorize="hasAuthority('ORDER_UPDATE')">
        <input type="hidden" name="orderId" th:value="${orderId}">
        <input th:if="${invoice.status.toString() == 'PAID'}" type="submit" class="submit danger" value="Refund">
    </form>

</div>

<div class="content" th:if="${!invoice.invoiceItems.isEmpty()}">
    <h2>Invoice Item</h2>
    <table id="listInvoiceItem">
        <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${invoice.invoiceItems}">
            <td th:text="${o.product.productName}"></td>
            <td class="tcenter" th:text="${o.amount}"></td>
        </tr>
        </tbody>
    </table>
</div>

<a th:href="'/admin/order/edit/'+${orderId}">
    <button class="customButton">Back</button>
</a>

</body>
</html>