<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
<h2>Users List</h2>
<a href="/admin"><img src="../../img/logo.png"></a>
</div>
<form action="list" method="GET" class="list-search" autocomplete="off">
    <input type="text" id="fullname" name="fullname" placeholder="Fullname" th:value="${fullname}">
    <input type="email" id="email" name="email" placeholder="Email address" th:value="${email}">
    <input type="submit" value="Search" class="submit">
</form>

<div class="content">
    <table id="listUser">
        <thead>
        <tr>
            <th scope="col">Fullname</th>
            <th scope="col">Email address</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${list}">
            <td th:text="${o.fullname}"></td>
            <td th:text="${o.email}"></td>
            <td class="tcenter"><a th:href="'/admin/user/edit/'+${o.id}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>