<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h1><a href="/admin/user/list" style="color: black;">User</a></h1>
    <a href="/admin"><img src="../../../img/logo.png"></a>
</div>
<div class="content">
    <form th:action="'profile/' + ${user.id}" method="POST" autocomplete="off" id="profileUpdate" class="common-form">
        <h2>Info</h2>

        <p>Fullname</p>
        <input type="text" id="fullname" name="fullname" th:value="${user.fullname}" sec:authorize="hasAuthority('USER_UPDATE')" required>
        <input type="text" id="fullname_2" name="fullname" th:value="${user.fullname}" sec:authorize="!hasAuthority('USER_UPDATE')" readonly>

        <p>Email address</p>
        <input type="email" id="email" name="email" th:value="${user.email}" sec:authorize="hasAuthority('USER_UPDATE')" required>
        <input type="email" id="email_2" name="email" th:value="${user.email}" sec:authorize="!hasAuthority('USER_UPDATE')" readonly>

        <p>Phone number</p>
        <input type="tel" id="phoneNumber" name="phoneNumber" th:value="${user.phoneNumber}" pattern="[0-9]{11}" placeholder="60123456789"
               sec:authorize="hasAuthority('USER_UPDATE')">
        <input type="tel" id="phoneNumber_2" name="phoneNumber" th:value="${user.phoneNumber}" pattern="[0-9]{11}" placeholder="60123456789"
               sec:authorize="!hasAuthority('USER_UPDATE')" readonly>

        <br>
        <input type="submit" class="submit" value="Update" sec:authorize="hasAuthority('USER_UPDATE')">

    </form>

    <br>
    <form th:if="${user.active}" th:action="${user.id} + '/revoke'" method="POST"
          class="common-form" autocomplete="off" id="revokeUser" sec:authorize="hasAuthority('USER_UPDATE')">
        <input type="submit" class="submit danger" value="Disable Account">
    </form>
    <form th:if="${!user.active}" th:action="${user.id} + '/reactivate'" method="POST"
          class="common-form" autocomplete="off" id="reactivateUser" sec:authorize="hasAuthority('USER_UPDATE')">
        <input type="submit" class="submit success" value="Reactivate">
    </form>
</div>

<div th:if="${user.amount != null}" class="content">
    <h2>Wallet</h2>
    <p>Amount</p>
    <text th:utext="'RM' + ${user.amount}"></text>
</div>

<div class="content" th:if="${!orders.isEmpty()}">
    <table id="listOrder">
        <h2>Order</h2>
        <thead>
        <tr>
            <th scope="col">ReferenceId</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${orders}">
            <td th:text="${o.referenceId}"></td>
            <td th:text="${o.status}" class="tcenter"></td>
            <td class="tcenter"><a th:href="'/admin/order/edit/'+${o.id}" sec:authorize="hasAuthority('ORDER_READ')">View</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="content" th:if="${!activities.isEmpty()}">
    <table id="listReport">
        <h2>Report</h2>
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">ReferenceId</th>
            <th scope="col">Type</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${activities}">
            <td th:text="${o.title}"></td>
            <td th:text="${o.referenceId}"></td>
            <td th:text="${o.type}" class="tcenter"></td>
            <td class="tcenter"><a th:href="'/admin/activity/edit/'+${o.id}" sec:authorize="hasAuthority('ACTIVITY_READ')">View</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>