* {
    box-sizing : border-box;
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: oswald;
  src: url(Oswald.ttf);
}
/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@1,700&display=swap%27');*/
body {
    font-family: oswald;
}
a {
    text-decoration: none;
}
a:visited {
    color: #0000EE;
}
.container {
    max-width: 75vw;
    margin: auto;
}
input:focus {
    outline:none
}
.center-body {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#8860D0 30%, #5680E9 , #84CEEB);
    overflow: hidden;
}
.modal {
    width: 70%;
    background-color: #fff;
    box-shadow: #797979 5px 5px 20px;
    border-radius: 25px;
    text-align: center;
    padding: 20px 40px;
}
.modal img {
    width: 30%;
}
.modal h2 {
    color: #8860D0;
    font-size: 28px;
    margin: 0px 0px 20px;
}
.modal input {
    display: block;
    border: #8860D0 1px solid;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 100%;
}
.modal input::placeholder {

    color: #8860D0;

}
.modal .submit {
    background-color: #8860D0;
    border: #8860D0 2px solid;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;   
}
.modal .submit:hover {
    background-color: #fff;
    border: #8860D0 2px solid;
    color: #8860D0;
}

.card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.card {
    border: #8860D0 solid 2px;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    width: 20%;
    cursor: pointer;
    transition: 0.2s
}
.card:hover {
    box-shadow: #797979 1px 1px 20px;
    width: 24%;
}

.card-graph {
  box-shadow: #797979 1px 1px 15px;
  border: 0;
  border-radius: 25px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s

  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.half {
    width: 49%;
}

.expand {
    height: 95%
}

.card-graph [data-notify="container"].alert {
  min-width: auto;
  left: unset !important;
  right: unset !important;
}

.card-graph .card-header {
  padding: 15px 15px 0;
  border: 0;
}

.card-graph .card-body {
  padding: 15px 15px 10px 15px;
}

.card-graph .card-body.table-full-width {
  padding-left: 0;
  padding-right: 0;
}

.card-chart .card-header .card-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.card-chart .card-header .card-category {
  margin-bottom: 5px;
}

.card-chart .table {
  margin-bottom: 0;
}

.card-chart .table td {
  border-top: none;
  border-bottom: 1px solid #e9ecef;
}

.card-chart .card-progress {
  margin-top: 30px;
}

.card-chart .chart-area {
  height: 190px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}

.card-chart .card-footer {
  margin-top: 15px;
}

.card-chart .card-footer .stats {
  color: #9A9A9A;
}

.card-chart .dropdown {
  position: absolute;
  right: 20px;
  top: 20px;
}

.card-chart .dropdown .btn {
  margin: 0;
}

.card-graph .card-footer {
  background-color: transparent;
  border: 0;
}

.card-graph .card-footer .stats i {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.card-graph .card-footer .btn {
  margin: 0;
}

.card-chart .card-footer {
  margin-top: 15px;
}

.card-chart .card-footer .stats {
  color: #9A9A9A;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-body {
    background: #fff;
}
.list-search {
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: #797979 1px 1px 15px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .list-search input.submit{
        padding: 10 10
    }
}

.list-search input {
    border: none;
    border-radius: 25px;
    padding: 5px 20px;
    background-color: #e9e9e9;
    width: 40%;
}
.list-search input.submit{
    width: 10%;
    cursor: pointer;
    transition: 0.2s;
}
.list-search input.submit:hover {
    background-color: #8860D0;
    color: #fff;
}
.list-search input:placeholder {
    color: #797979
}
table {
    width: 100%;
    margin: 10px 0px;
}
table tbody tr:hover {
    background-color: #e9e9e9;
    border: none;
    border-radius: 25px
}
table tbody td {
    padding: 5px 10px;
}
table tbody td.tcenter {
    text-align: center;
}
.content {
    border: none;
    border-radius: 25px;
    box-shadow: #797979 1px 1px 15px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px
}
.content p {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px
}
.content p:nth-child(even) {
    color: #797979;
    font-weight: 300
}

/*temp*/
.customtextarea {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

.customtextarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.button-three {
    position: relative;
    background-color: #d3d3d3;
    border: none;
    padding: 15px;
    width: 80px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    margin: 5px;
}

.button-three:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.button-three:after {
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.common-form {
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
}

.common-form p {
    margin-bottom: 5px;
}

.common-form input {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #e9e9e9;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*
button
 */
.common-form .button {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}
.common-form .button:hover {
    background-color: #8860D0;
    color: #fff;
}

.common-form .button.danger:hover {
    background-color: #D0312D;
    color: #fff;
}

/*
submit
 */
.common-form input.submit {
    width: 10%;
    cursor: pointer;
    transition: 0.2s;
}
.common-form input.submit:hover {
    background-color: #8860D0;
    color: #fff;
}

.common-form input.submit.danger:hover {
    background-color: #D0312D;
    color: #fff;
}

.common-form input.submit.success:hover {
    background-color: #33A532;
    color: #fff;
}

.common-form input:placeholder {
    color: #797979
}

/*
    select
 */
 .common-form select {
     padding: 10px 20px;
     background-color: #e9e9e9;
     width: 40%;
     margin: 10px;
 }

/**
    button specific class on;y!
**/
.customButton {
    background-color: #e9e9e9;
    border: none;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    cursor: pointer;
    transition: 0.2s;
    padding: 7px;
}

.customButton:hover {
    background-color: #8860D0;
    color: #fff;
}

.customButton-danger {
    background-color: #e9e9e9;
    border: none;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    cursor: pointer;
    transition: 0.2s;
    padding: 7px;
}

.customButton-danger:hover {
    background-color: #D0312D;
    color: #fff;
}


.customButtonV2 {
    background-color: #e9e9e9;
    border: none;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px;
}

.customButtonV2:hover {
    background-color: #8860D0;
    color: #fff;
}

/*
    error page
*/
.errorBg {
    background-color: #e9e9e9;
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pikachuSuprise {
     background-image: url('resources/pikachuSuprise.jpg');
}

.errorImgFormat {
    object-fit: cover;
    width: 250px;
    height: 250px;
}
