<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../../../style.css">
    <link rel="stylesheet" href="../../../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h1><a href="/admin/admin/rolesupdate" style="color: black;">Admin Roles</a></h1>
    <a href="/admin"><img src="../../../../img/logo.png"></a>
</div>

<div class="content">
    <h2>Roles</h2>
    <p th:text="${role.name}"></p>
</div>

<div class="content">
    <form th:action="${role.id} + '/privilege/remove'" method="POST" id="removePrivilege">
        <table id="privilegeList">
            <thead>
            <tr>
                <th scope="col">Privileges</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="o : ${role.privileges}">
                <td th:text="${o.name}"></td>
                <td class="tcenter">
                    <button name="privilegeId" th:value="${o.id}" type="submit" class="customButton-danger" sec:authorize="hasAuthority('ADMIN_UPDATE')">Revoke</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <form th:action="${role.id} + '/privilege/add'" method="POST" class="common-form" autocomplete="off" id="addRoles" sec:authorize="hasAuthority('ADMIN_UPDATE')">
        <select name="privilegeId" id="privileges" required>
            <option disabled selected value></option>
            <option th:each="privilege : ${privileges}"
                    th:value="${privilege.id}"
                    th:text="${privilege.name}"></option>
        </select>
        <input type="submit" class="submit success" value="Add">
    </form>
</div>

</body>
</html>