<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h1><a href="/admin/admin/list" style="color: black;">Admin</a></h1>
    <a href="/admin"><img src="../../../img/logo.png"></a>
</div>
<div class="content">
    <table id="listRole">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o : ${roles}">
            <td th:text="${o.id}" class="tcenter"></td>
            <td th:text="${o.name}"></td>
            <td class="tcenter"><a th:href="'/admin/admin/roles/edit/'+${o.id}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>