<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="templongitudee">
<meta charset="utf-8">

<div th:fragment="static(longitude,latitude)">
    <a rel="noopener noreferrer" target="_blank" th:href="${'https://www.google.com/maps/search/?api=1&query=' + latitude + ','+longitude}">
        <img width="100%"
             th:src="${'https://maps.googleapis.com/maps/api/staticmap?center='+latitude+','+longitude+'&zoom=15&scale=1&size=1200x300&maptype=roadmap&key=AIzaSyCIajNAAz0Vo5uukUdcZK4OygIFyxrpdmE&format=png&visual_refresh=true&markers=size:small%7Ccolor:0xff0000%7Clabel:%7C'+latitude+','+longitude}"
             alt="Google Map">
    </a>
</div>