<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h1>Product</h1>
    <a href="/admin"><img src="../../../img/logo.png"></a>
</div>
<div class="content">
    <form th:action="'' + ${productVendor.id}" method="POST" autocomplete="off" id="productUpdate" class="common-form">
        <h2>Info</h2>

        <p>Product Name</p>
        <text th:utext="${productVendor.product.productName}"/>

        <p>Price</p>
        <input type="number" step=".01" id="price" name="price" th:value="${productVendor.price}" sec:authorize="hasAuthority('VENDOR_UPDATE')" required>
        <input type="number" step=".01" id="price_2" name="price" th:value="${productVendor.price}" sec:authorize="!hasAuthority('VENDOR_UPDATE')" readonly>

        <p>Status</p>
        <text th:if="${productVendor.active}">Active</text>
        <text th:if="${!productVendor.active}">Inactive</text>

        <br>
        <br>
        <input type="submit" class="submit" value="Update" sec:authorize="hasAuthority('VENDOR_UPDATE')">
    </form>

    <div class="row" sec:authorize="hasAuthority('VENDOR_UPDATE')">
        <form th:action="'' + ${productVendor.id}" method="POST" autocomplete="off" id="productStatusUpdate"
              class="common-form">
            <input th:if="${productVendor.active}" type="hidden" name="status" value="false">
            <input th:if="${productVendor.active}" type="submit" class="submit danger" value="Disable">
            <input th:if="${!productVendor.active}" type="hidden" name="status" value="true">
            <input th:if="${!productVendor.active}" type="submit" class="submit success" value="Enable">
        </form>
    </div>

</div>

<a th:href="'/admin/vendor/edit/'+${productVendor.vendor.id}">
    <button class="customButton">Back</button>
</a>

</body>
</html>