<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="template">
<meta charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../../../sidebar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Admin</title>
</head>
<th:block th:replace="fragments/sidebar :: static()"></th:block>
<body class="container">
<div class="header">
    <h1>Printer</h1>
    <a href="/admin"><img src="../../../img/logo.png"></a>
</div>
<div class="content">
    <form th:action="'' + ${printer.id}" method="POST" autocomplete="off" id="printerUpdate" class="common-form">
        <h2>Info</h2>

        <p>Name</p>
        <input type="text" id="name" name="name" th:value="${printer.name}" sec:authorize="hasAuthority('VENDOR_UPDATE')" required>
        <input type="text" id="name_2" name="name" th:value="${printer.name}" sec:authorize="!hasAuthority('VENDOR_UPDATE')" readonly>

        <p>Status</p>
        <text>[[${printer.status.toString()}]]</text>

        <br>
        <br>
        <input type="hidden" name="vendorId" th:value="${vendorId}">
        <input type="submit" class="submit" value="Update" sec:authorize="hasAuthority('VENDOR_UPDATE')">
    </form>
    <div class="row" sec:authorize="hasAuthority('VENDOR_UPDATE')">
        <form th:action="'' + ${printer.id}" method="POST" autocomplete="off" id="printerStatusUpdate"
              class="common-form">
            <input type="hidden" name="vendorId" th:value="${vendorId}">
            <input type="hidden" name="prevStatus" th:value="${printer.status}">
            <input th:if="${printer.status.toString() == 'ACTIVE'}" type="submit" class="submit danger" value="Disable">
            <input th:if="${printer.status.toString() == 'INACTIVE'}" type="submit" class="submit success"
                   value="Enable">
        </form>
    </div>

</div>

<a th:href="'/admin/vendor/edit/'+${vendorId}">
    <button class="customButton">Back</button>
</a>

</body>
</html>